.Box {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  border: solid 1px black;
  margin-right: 5px;
  height: 80px;
  padding: 0 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

.Box-header, .Box-content {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}