.Box {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  height: 80px;
  padding: 0 10px;
  background-color: white;

  &:hover {
    border-width: 5px;
    padding: 0 6px;
  }
}

.Box--bg-2 {
  background-color: red;
}

.Box--bg-3 {
  background-color: green;
}

.Box--bg-4 {
  background-color: blue;
}

.Box--last {
  border-color: pink;
}

.Box-header, .Box-content {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Box-closeButton {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  transform: rotateZ(45deg);

  &:before, &:after {
    position: absolute;
    background-color: black;
    content: "";
  }

  &:before {
    width: 2px;
    height: 10px;
    left: 50%;
    top: 0;
    margin-left: -1px;
  }

  &:after {
    width: 10px;
    height: 2px;
    left: 0;
    top: 50%;
    margin-top: -1px;
  }
}